@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

body {
    background-color: #f6f5f7;
    color: black;
    font-family: 'poppinssemibold';
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    
}

p{
    margin: 35px;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    max-width: 1200px;
    padding-top: 25px;
    padding-bottom: 25px;
    margin: 0 auto;
    padding: 0 auto;
    
}

#title{
    flex-direction: column;
    line-height: 10px;

}

li{
    display: inline-block;
    margin: 20px;
    
}

a{
    color: black;
    text-decoration: none;
}

a:hover{
    color:  #6F3Df4; 
    transition: 0.3s all;
 }

.container{
    text-align: center;
    background: #f5f5f5;
}

.header{
    padding-top: 30px;
    color: black;
    font-size: 20px;
    margin: auto;
    line-height: 50px;
     transform: scale(1.1);
}

.sub-container{
    max-width: 1200px;
    margin: auto;
    padding: 30px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.teams{
    margin: 10px;
    padding: 22px;
    max-width: 30%;
    cursor: pointer;
    box-sizing: border-box;
    transition: .3s;
    
}

.teams:hover{
    background-color: #Ddd;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
    border: 1px solid #6F3Df4;
    transform: scale(1.1);
    
} 

.teams img{
    width: 200px;
    height: 200px;
    border-radius: 50%
}

.name{
    padding: 12px;
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
}

.desig{
    font-style: italic;
    color: #888;
}

.about{
    margin: 20px 0;
    color: #4e4e4e;
}

.social-links{
    margin: 14px;
}

.social-links a{
    display: inline-block;
    height: 30px;
    width: 30px;
    transition: .4s;
}

.social-links a:hover{
    transform: scale(1.5);
    
}

.social-links a i{
    color: #444;
}


.social-links a i:hover{
    color: #6F3Df4;
}

@media screen and(max-width:600px){
    .teams{
        max-width: 100%;
    }
}