<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../views/landingPage/styles/style.css" rel="stylesheet">
    <link href="../views/landingPage/styles/fonts.css" rel="stylesheet">
    <link href="../views/landingPage/styles/media.css" rel="stylesheet">

    <title> Bkm eventos</title>
</head>

<body>
    <header>
        <div id="title">
            <h1> BKM </h1>
            <h1> EVENTOS </h1>

        </div>

        <ul>

            <a href="LadingController.php?action=LoadForm">
                <li>Início</li>
            </a>
            <a href="EventosController.php?action=findAll">
                <li>Eventos</li>
            </a>
            <a href="#">
                <li>Sobre Nós</li>
            </a>
            <a href="#"><li>Contato</li>
            </a>
            <a href="LadingController.php?action=login" id="Cadastre-se-btn">
                <li>Já tem uma conta?</li>
            </a>
        </ul>
    </header>

    <main>
        <aside>
            <h2> <span> Divulgue seu evento</span> </h2>
            <h2> no BKM Eventos </h2>
            <p>
                Cadastre todos os dados do seu evento em nossa plataforma gratuitamente, nós ajudamos a gerenciar seus
                eventos de forma eficiente.

            </p>
            <form action="./LadingController.php?action=login" method="POST">
                <input type="submit" value="Crie agora seu evento!">
            </form>

        </aside>

        <article>
            <img src="../views/landingPage/componentes/images/pngegg.png" alt="geek">

        </article>
    </main>



</body>

</html>