@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

body {
    background-color: #f6f5f7;
    color: black;
    font-family: 'poppinssemibold';

}

p{
    margin: 35px;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    max-width: 1200px;
    padding-top: 25px;
    padding-bottom: 25px;
    margin: 0 auto;
    padding: 0 auto;
}

#title{
    flex-direction: column;
    line-height: 10px;

}

li{
    display: inline-block;
    margin: 20px;
    text-decoration: none;
}

a{
    color: black;
    text-decoration: none;
    
}

a:hover{
    color:  #6F3Df4; 
    transition: 0.3s all;
    text-decoration: none;
 }

.dados{
    text-align: center;
    border: solid; 
    border-color: #6F3Df4;
    border-radius: 20px;
    border-width: 1.5px;
}


h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.30em;
    /* font-weight: bold; */
    font-weight: 200px;
    flex-direction: column;
    line-height: 20px;
}

.log-out {
    display: flex;
    justify-content: flex-end;
    font-size: 20px;
    margin-top: -90px;
    margin-right: 1.2em;

}


#Cadastre-se-btn {
    border: 2px solid #6F3Df4;
    padding: 10px;
    border-radius: 15px;
}

header {
    margin: 5.1em;
}


h3{
    font-size: 50px;
}
h2 {
    /* font-size: 50px; */
    font-size: 25px;
    line-height: 30px;
    font-family: poppinsmedium;
    font-weight: bold;
    /* text-align: center; */
}

.container {
    display: flex;
    background-color: #FFFFFF;
    border: 2px solid #6F3Df4;
    border-radius: 10px;
    padding: 15px;
    width: auto;
    height: auto;
    margin: auto;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    margin-bottom: 5vh;
}

.my-data {

    width: 50%;
    margin-left: -100px;
    padding-top: 5rem;
    padding-bottom: 2rem;
}

h4 {
    margin-top: 1rem;
    margin-left: 30px;
    font-size: 1.9em;
    height: 35px;
}

ul {
    display: inline-flexbox;
    align-items: center;

}


.events-data {
    width: 60vh;
    /* padding-right: 20px; */
    margin-left: -70px;
    padding-top: 5rem;
    padding-bottom: 2rem;
}


.org {
    font-family: 'Montserrat';
    font-size: 15px;
    margin: auto;
    margin-left: -320px;
    margin-right: auto;
    border-collapse: collapse;
    width: 180%;


}

.org td, th {
    border: 1.4px solid #03000a;
    padding: 8px;
}

.org tr:nth-child(even) {
    background-color: #6e3df42f;
}

.org tr:hover {
    background-color: #6F3Df4;
    color: #FFFFFF;
}

.org svg:hover {
    color: #FFFFFF;
}

.org th {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #6F3Df4;
    color: #FFFFFF;
    text-align: center;

}

.event {
    font-family: 'Montserrat';
    font-size: 15px;
    margin: auto;
    margin-left: -250px;
    margin-right: auto;
    border-collapse: collapse;
    width: 182%;

}

.event td, th {
    border: 1.4px solid #03000a;
    padding: 8px;
}

.event tr:nth-child(even) {
    background-color: #6e3df42f;
}

.event tr:hover {
    background-color: #6F3Df4;
    color: #FFFFFF;
}

.event svg:hover {
    color: #FFFFFF;
}

.event th {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #6F3Df4;
    color: #FFFFFF;
    text-align: center;

}

#mensagem {
    padding: 0px;
    margin: 0px;
    margin-bottom: 0px;
    text-align: center;
    color: #FF0000;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 5rem;
    font-size: 25px;
}

footer{
    display: flex;
    justify-content: center;
}

.footer-p{
    display: flex;
    font-size: 1.2em;
    font-weight: bold;

}

.edit-adm{
    width: 50%;
    margin-left: -10px;
    padding-top: 5rem;
    padding-bottom: 2rem;

}

h1:hover {
    color: #6F3Df4;
}

.input-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.input-box input {
    margin: 0.6rem 0;
    padding: 0.8rem 1.2rem;
    border: none ;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #0000001c;
    font-size: 0.8rem;

}

.save-button {
    display: flex;
    justify-content: center;
    /* padding-top: 50px; */
}

.save-button button {
    width: 500px;
    height: 50px;
    /* width: auto; */
    margin-top: 2.5rem;
    border: none;
    background-color: #6c63ff;
    padding: 0.62rem;
    border-radius: 5px;
    cursor: pointer;
    margin: 15px;
}

.save-button button a {
    text-decoration: none;
    font-size: 0.93rem;
    font-weight: 500;
    color: #fff;
}

.input-box label {
    /* font-size: 0.75rem; */
    font-weight: 600;
    color: #000000c0;
}