@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

body {
   background-color: #f6f5f7;
   color: black;
    font-family: poppinssemibold;

}


h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.30em; 
    /* margin-block-end: 0.67em; */
    /* margin-inline-start: 0px; */
    /* margin-inline-end: 0px; */
    font-weight: bold;
}
.log-out{
    display: flex;
    justify-content: flex-end;
    font-size: 20px;
    margin-top: -90px;
    margin-right: 1.2em; 

}
a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}


#Cadastre-se-btn {
    border: 2px solid #6F3Df4;
    padding: 10px;
    border-radius: 15px;
}

header{
    margin: 5em;

}

.container{
    display: flex;
    background-color: #FFFFFF;
    border: 2px solid #6F3Df4;
    border-radius: 10px;
    width: 120vh;
    height: 10cm;
    /* padding-top: 100vh; */
    margin: auto;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
} 

.my-data{
    margin: 5em;

    

}




    




