@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
    background-color: #F5f5f5;
    color: black;
    font-family: poppinssemibold;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 auto;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    /* margin-right: 25px; */
    /* margin-left: 25px; */
    /* padding: 30px; */
}
/* ul{
    list-style: none;
} */
#title{
    flex-direction: column;
    line-height: 10px;
    list-style: none;
}

li{
    display: inline-block;
    margin: 20px;
    list-style: none;
}

a{
    color: black;
    text-decoration: none;
}

a:hover{
   color: #6F3Df4; 
   transition: 0.3s all;
   
}

#Cadastre-se-btn{
    border: 2px solid #6F3Df4;
    padding: 10px;
    border-radius: 15px;
    
}

#Cadastre-se-btn:hover{
    background-color: #6F3Df4;
    color: white;
}

h1{
    font-weight: 200;
}

main{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    margin-bottom: 10px;


}

h2{
    font-size: 56px;
    line-height: 10px;
    font-family: poppinsmedium;
}

span{
    color: #6F3Df4;
}

p{
    line-height: 20px;
    max-width: 500px;
    font-family: poppinslight;
}

img{
    width: 450px;
    display: flex;
    align-items: flex-end;
}

form{
    display: flex;
    flex-direction: column;
    width: 70%;
    
}

form [type="submit"]{
    height: 50px;
    width: 50%;
    background-color: #6F3Df4;
    color: white;
    font-weight: bold;
}

form [type="submit"]:hover{
    cursor: pointer;
}

input{
    margin-top: 20px;
    height: 20px;
    padding: 15px;
    border-radius: 20px;
    border: none;
    font-size: 15px;
}

article{

    margin-left:10px;
    margin-top: -30px;
    margin-right: 50px;
        margin-left: 100px;
    /* margin-right: 100px; */
}

footer{
    display: flex;
    justify-content: center;
}
.footer-p{
    font-size: 1.2em;
    font-weight: bold;

}

#title{
    flex-direction: column;
    line-height: 10px;

}

li{
    display: inline-block;
    margin: 20px;
    
}

a{
    color: black;
    text-decoration: none;
}

a:hover{
    color:  #6F3Df4; 
    transition: 0.3s all;
 }


#Cadastre-se-btn{
   border: 2px solid #6F3Df4;
   padding: 10px;
   border-radius: 15px;
   
}

#Cadastre-se-btn:hover{
   background-color: #6F3Df4;
   color: white;
}

h1{
  font-size: 30px;
  text-align: center;
}


section {
  margin: 0 30px;
}

.container {
  max-width: 1000px;
  position: relative;
  padding: 5px;
  background: #fff;
  margin: 15px auto 25px;
  box-shadow: 0 15px 35px -15px #656565;
  border-radius: 1rem;
}

.slider {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  border-radius: 0.7rem;
  display: flex;
  overflow: hidden;
  scroll-snap-type: x mandatory;
}


img {
  min-width: 100%;
  max-width: 100%;
  height: center;
  object-fit: contain;
  border-radius: 0.7rem;
  scroll-snap-align: start;
}

.bullets-container {
  width: 100%;
  height: 18px;
  display: flex;
  justify-content: center;
  gap: 18px;
  margin-top: 20px;
  
}
.bullets-container .bullet {
  cursor: pointer;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #6F3Df4;
  border: none;
  opacity: 0.4;
  transition: ease 0.3s;
}

.bullets-container .bullet.active {
  transition: ease 0.4s;
  opacity: 1;
  transform: scale(1.15);
}

#previous,
#next {
  cursor: pointer;
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 16px;
  background: #4e2caa;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  top: calc(50% - 25px);
  left: -20px;
  box-shadow: 0 12px 25px -9px #4e2caa;
}

#next {
  left: unset;
  right: -20px;
}

@media (max-width: 480px) {
  #previous,
  #next {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    top: calc(50% - 20px);
  }
}

@media (min-width: 1200px) {
  #previous,
  #next {
    width: 60px;
    height: 60px;
    border-radius: 18px;
    top: calc(50% - 30px);
    left: -30px;
  }

  #next {
    left: unset;
    right: -30px;
  }
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.item-container {
  position: relative;
  margin: 24px;
  width: 300px;
  height: 570px;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0 0 30px 5px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  float: left;
  
}

.img-container,
.body-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.img-container img {
  width: 100%;
}

.body-container {
  position: relative;
}

.overlay {
  position: relative;
  width: 100%;
  height: 400px;
  background-color: rgba(110, 61, 244, 0.281);
  opacity: 0;
  transition: height linear 0.4s, opacity linear 0.2s;
}

.item-container:hover .overlay {
  opacity: 1;
  height: 150px;
}

.event-info {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8px;
}

.title,
.date {
  color: #4e2caa;
  font-size: 1.5em;
  font-weight: bold;
  letter-spacing: 1px;
  margin: 12px;
}

.info {
  letter-spacing: 0.5px;
  margin-bottom: 6px;
}

.separator {
  width: 20%;
  height: 6px;
  background-color: #4e2caa;
  margin-bottom: 16px;
}

.additional-info {
  border-top: 1px solid #bbb;
  margin-top: 12px;
  padding: 28px;
  padding-bottom: 0;
}

.additional-info .info {
  font-size: 0.9em;
  margin-bottom: 20px;
  text-align: center;
}

.info i {
  color: #4e2caa;
  font-size: 1.1em;
  margin-right: 4px;
}

.info span {
  color: #4e2caa;
  font-weight: bolder;
}

.action {
  color: #fff;
  border: 3px solid #fff;
  background-color: transparent;
  position: absolute;
  top: -100px;
  left: 50%;
  transform: translateX(-50%);
  width: 60%;
  outline: none;
  cursor: pointer;
  padding: 12px;
  text-transform: uppercase;
  font-size: 1.3em;
  font-weight: bold;
  letter-spacing: 2px;
  transition: background-color 0.4s, top 0.4s;
}

.item-container:hover .action {
  top: 50px;
}

.action:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.teste{
    width:1225px;
    margin: 0;
    padding:0;
}

aside{
  margin: auto;
}

.img-block a{
  color: white;
}

container-card{ 
  /* position: absolute; */
  inset: 5px;
  border-radius: 10px;
  background: black;
  z-index:1;
}

figure {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 425px;
    min-width: 330px;
    height: 216px;
    border-radius: 10px;
    box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    overflow: hidden;
}

/* .sp {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 510px;
  min-width: 500px;
  height: 400px;
  border-radius: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  overflow: hidden;
  
} 
.sp::after{
  content: '';
  position: absolute;
  width: 800px;
  height: 800px;
  background-image: conic-gradient(transparent, transparent, transparent,transparent, transparent,transparent, #e6cf00);
  animation: animate 4.5s linear infinite;
  
} 
.sp::before{
  content: '';
  position: absolute;
  width: 800px;
  height: 800px;
  background-image: conic-gradient(transparent, transparent, transparent,transparent, transparent,transparent, #6c63ff);
  animation: animate 4.5s linear infinite;
  animation-delay: 2.2s; 
  
}  

 @keyframes animate{
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}  
.sp{
  position: absolute;
  inset: 5px;
  border-radius: 16px;
  background: black;
  z-index: 1;
} */
figure:hover {
  border: 3.5px solid #6c63ff;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  transform: scale(1.1);
  transition: 0.1s;

}

figure:hover h2 {
  opacity: 0;
  transform: scale(0.7);
}
figure:hover img {
  transform: scale(1.25);
}
figure:hover figcaption {
  bottom: 0;
}
figure h2 {
  position: absolute;
  top: 50px;
  left: 20px;
  margin: 0;
  padding: 0;
  color: white;
  font-size: 40px;
  font-weight: 100;
  line-height: 1;
  opacity: 1;
  transform: scale(1);
  transition: 0.25s ease;
  z-index: 999;
}
figure img {
  height: 100%;
  transition: 0.25s;
}

/* figure img:hover{
  color: hsla(120,100%,25%,0.3);
} */

figure figcaption {
  position: absolute;
  border-radius: 5px;
  bottom: -50%;
  left: 0; 
  right: auto;
  max-width: 150%;
  width: 100%;
  margin: 0;
  padding: 30px;
  background-color: rgba(0, 0, 0, 0.85);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  color: white;
  line-height: 1;
  transition: 0.25s;
  
}
figure figcaption h3 {
  margin: 0 0 20px;
  padding: 0;
}
figure figcaption p {
  font-size: 14px;
  line-height: 1.75;
}
figure figcaption button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0 0;
  padding: 10px 30px;
  background-color:  #6c63ff;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 14px;
  cursor: pointer;
}

.container{
  background-color:  rgba(230, 228, 228, 0.733);
  width: auto;
  height: auto;
  /* background-color: #fafafa; */
  /* border: 1px solid #6F3Df4; */
  display: flex;
  flex-wrap: wrap;
  /* margin: 0;  */
  padding: 3%;
  border-radius: 15px;
  
}

.container-card{
  display: flex; 
  flex-wrap: wrap;
  margin-left: 50px;
}

.button-link:hover{
  color: rgb(2, 2, 2);
}

/* serch bar */

.searchBox {
  top: 50%;
  left: 50%;
  border: 1px solid #6F3Df4;
  transform: translate(-50%,50%);
  /* background: #fff; /
  / background: #2f3; */
  height: 60px;
  border-radius: 40px;
  padding: 10px;
  margin-bottom: 50px;
  /* margin-right: -200px; */

}






.searchBox:hover > .searchInput {
  width: 240px;
  padding: 0 6px;
}

.searchBox:hover > .searchButton {
background: white;
color : #6F3Df4; 
/* transition: 0.9s;  */
}

.searchButton {
  background-color: black;
  color: white;
  float: right;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  /* background: transparent; */
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
}

.searchInput {
  border:none;
  background: none;
  outline:none;
  float:left;
  padding: 0;
  /* color: white; */
  font-size: 16px;
  transition: 0.4s;
  line-height: 40px;
  width: 0px;

}

@media screen and (max-width: 620px) {
.searchBox:hover > .searchInput {
  width: 150px;
  padding: 0 6px;
}
  





}
