body{
    background-color: #F5f5f5;
    color: black;
    font-family: poppinssemibold;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 auto;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#title{
    flex-direction: column;
    line-height: 10px;

}

li{
    
    display: inline-block;
    margin: 20px;
    
}

a{
    color: black;
}

a:hover{
   color:  #6F3Df4; 
   transition: 0.3s all;
}

h1{
    font-weight: 200px;
}

main{
    display: flex;
    flex-direction: row;
    margin-top: 50px;

}

h2{
    font-size: 25px;
    line-height: 30px;
    font-family: poppinsmedium;
    text-align: center;

}


.dados{


    text-align: center;
    border: solid; 
    border-color: #6F3Df4;
    border-radius: 20%;
    border-width: 2px;

}




span{
    color: #6F3Df4;
}

/*p{
    line-height: 20px;
    max-width: 500px;
    font-family: poppinslight;
}*/

img{
    width: 450px;
    display: flex;
    align-items: flex-end;
}

form{
    display: flex;
    flex-direction: column;
    width: 70%;
    
}

form [type="submit"]{
    height: 50px;
    width: 50%;
    background-color: #6F3Df4;
    color: white;
    font-weight: bold;
}

form [type="submit"]:hover{
    cursor: pointer;
}

input{
    margin-top: 20px;
    height: 20px;
    padding: 15px;
    border-radius: 20px;
    border: none;
    font-size: 15px;
}

article{

    margin-left:10px;
    margin-top: -30px;
}