@CHARSET "utf-8";

html {
    background: #eeeeee;
}

#mensagem {
    padding: 0px;
    margin: 0px;
    margin-bottom: 0px;
    text-align: center;
    font-family: sans-serif;
    color: #FF0000;
    margin-left: auto;
    margin-right: auto;
}

#titulo {
    padding: 20px;
    margin: 20px;
    margin-bottom: 0px;
    text-align: center;
    font-family: sans-serif;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #cccccc;
}

#menu {
    width: 150px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    margin-top: 10px;
    margin-bottom: -10px;
    border: 1px solid #cccccc;
    float: left;
    text-align: center;
}

#conteudo {
    margin-left: 200px;
    margin-right: auto;
    padding: 20px;
    margin-top: 10px;
    margin-bottom: -10px;
    border: 1px solid #cccccc;
}

#rodape {
    padding: 20px;
    margin: 20px;
    clear: left;
    margin-bottom: 0px;
    text-align: center;
    font-family: sans-serif;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #cccccc;
}

table.consulta {
    border-width: 1px;
    border-spacing: 2px;
    border-style: outset;
    border-color: gray;
    border-collapse: separate;
    background-color: white;
}

table.consulta th {
    border-width: 1px;
    padding: 5px;
    border-style: inset;
    background-color: #cccccc;
}

table.consulta td {
    border-width: 1px;
    padding: 5px;
    border-style: inset;
}