<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../views/sobrenos/style/style.css">
    <script src="https://kit.fontawesome.com/8554f1c167.js" crossorigin="anonymous"></script>
    <title>Sobre Nós</title>
</head>
<body>

    <nav>
        <div id=" title">
            <h1> BKM </h1>
            <h1> EVENTOS </h1>
        </div>

        <h2></h2>
        
        <ul>
            <a href="LandingController.php?action=LoadForm">
                <li>Início</li>
            </a>

            <a href="EventosController.php?action=findAll">
                <li>Eventos</li>
            </a>

            <!-- <a href="#">
                <li>Sobre Nós</li>
            </a> -->

        </ul>
    </nav>

    <div class="container">
        <div class="header">
            <h1>TIME BKM EVENTOS</h1>
        </div>
        <div class="sub-container"> 
        <div class="teams">
            <img src="../views/sobrenos/img/matheus.jpg" alt="admin1">
            <div class="name">Matheus Lopes</div>
            <div class="desig">Back-End</div>
            <div class="about">Estudante do 4º Informática do Instituto Federal do Paraná - Campus Foz do Iguaçu</div>


                <div class="social-links">
                    <a href="https://www.linkedin.com/in/matheus-santos-lopes-3a7002260"><i class="fa fa-linkedin"></i></a>
                    <a href="https://www.instagram.com/matth_s_lopes/"><i class="fa fa-instagram"></i></a>
                    <a href="https://github.com/mattheusMSL"><i class="fa fa-github"></i></a>
                </div>
        </div>

        <div class="teams">
            <img src="../views/sobrenos/img/beatriz.jpg"  alt="admin2">
            <div class="name">Beatriz Sanhueza</div>
            <div class="desig">Front-End</div>
            <div class="about">Estudante do 4º Informática do Instituto Federal do Paraná - Campus Foz do Iguaçu</div>


                <div class="social-links">
                    <a href="https://www.linkedin.com/in/beatriz-sanhueza-a57989263/"><i class="fa fa-linkedin"></i></a>
                    <a href="https://www.instagram.com/trizwww/"><i class="fa fa-instagram"></i></a>
                    <a href="https://github.com/beatrizrodriigues"><i class="fa fa-github"></i></a>
                </div>
        </div>

        <div class="teams">
            <img src="../views/sobrenos/img/kelvin.jpg"  alt="admin3">
            <div class="name">Kelvin Kauan</div>
            <div class="desig">Back-End</div>
            <div class="about">Estudante do 4º Informática do Instituto Federal do Paraná - Campus Foz do Iguaçu</div>


                <div class="social-links">
                    <a href="https://www.linkedin.com/in/kelvin-kauan-da-cruz-silva-064a5824a"> <i class="fa fa-linkedin"></i></a>
                    <a href="https://www.instagram.com/kelkauan__/"><i class="fa fa-instagram"></i></a>
                    <a href="https://github.com/kelvinkauan"><i class="fa fa-github"></i></a>
                </div>
        </div>
    </div>
    </div>
    
</body>
</html>