h2{
  margin-right: 70px;
}

ul{
  padding: 0;
}

nav{
 
  display: flex;
  flex-direction: row;
  justify-content:space-around;
  align-items: center;
  max-width: 1200px;
  padding-top: 25px;
  padding-bottom: 25px;
  margin: 0 auto;
  padding: 0 auto;
}

#title{
  flex-direction: column;
  line-height: 10px;

}

li{
  display: inline-block;
  margin: 20px;
  text-decoration: none;
}

a{
  color: black;
  text-decoration: none;
  
}

a:hover{
  color:  #6F3Df4; 
  transition: 0.3s all;
  text-decoration: none;
}
h1:hover {
  color: #6F3Df4;
}

h4{
  /* color: aliceblue; */
  /* display: flex; */
  text-align: center;
  font-size: 70px;
}


body {
  background-color:  #f6f5f7;
  font-family: 'poppinssemibold';
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
} 

.container-back{
  position: relative;
}


.img-back{
    position: relative;
    display: flex;
    flex-direction: column;
    filter: blur(8px);
    -webkit-box-pack: justify;
    -webkit-filter: blur(10px);
    justify-content: space-between;
    flex: 1 1 0%;
    height: 100%;
    min-height: 500px;
    margin: 0;
    padding: 0;
}


.card-event{
   position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 45vw;
    min-width: 500px;
    height: 500px;
    border-radius: 20px;
    box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    overflow: hidden;
    margin-top: -386px;
    margin-left: 24em;
    border: 5px solid #f6f5f7;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.name-event{
  margin: 0;
  padding: 35px;
  font-size: 60px;
  display: flex;
  justify-content: center;
}

.name-event h2{
    margin: 0;
    padding-right: 5em;
}
.container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  top: 5px;
  margin: 0;
  padding: auto;
  /* background-color: #fff; */
  width: auto;
}
.info-event{
  display: flex;
  justify-content: center;
  margin: 10px;
  width: 50vw;
  height: auto;
  background-color: #fff;
  flex-direction: column;
  border: 1px solid #6F3Df4;
  border-radius: 5px;

}

.info-event h5{
  margin: 50px;
  font-size: 25px;
}

.info-event h5::after{
  content: '';
  background-color: #6c63ff;
  /* content: '';
  display: block;
  width: 16rem;
  height: 0.3rem;
  background-color: #6c63ff;
  margin: 0 auto;
  position: absolute;
  border-radius: 10px; */
}

.data-event{
    flex-direction: column;
}

p{
  margin-left: 6em;
  padding: 10px;
  /* justify-content: space-between; */
  justify-content: flex-start;
 

}
.name-evento{

}
