@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

body {
    background-color: #f6f5f7;
    color: black;
    font-family: 'poppinssemibold';
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    
}

p{
    margin: 35px;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    max-width: 1200px;
    padding-top: 25px;
    padding-bottom: 25px;
    margin: 0 auto;
    padding: 0 auto;
    text-decoration: none;
    
}

#title{
    flex-direction: column;
    line-height: 10px;

}

li{
    display: inline-block;
    margin: 20px;
    
}

a{
    color: black;
    text-decoration: none;
}

a:hover{
    color:  #6F3Df4; 
    transition: 0.3s all;
 }


.container {
    width: auto;
    height: auto;
    display: flex;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.212);
}

.form {
    width: 100%;
    display: inline-block;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #fafafa;
    padding: 3rem;
}

.form-header {
    margin-bottom: 4rem;
    display: flex;
    justify-content: space-between;
}



.form-header h1::after {
    content: '';
    display: block;
    width: 16rem;
    height: 0.3rem;
    background-color: #6c63ff;
    margin: 0 auto;
    position: absolute;
    border-radius: 10px;
}

.input-group {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center; */
    justify-content: space-between;
    padding: 1rem 0;

}

.input-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

/* ---- descrição css  ---- */

.input-box-desc {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.input-box-desc textarea {
    margin: 0.6rem 0;
    padding: 0.9rem 1.2rem;
    padding-bottom: 15vh;
    /* height: 15px; */
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #0000001c;
    font-size: 0.8rem;
    /* padding-top: 1.8em; */
}

.input-box-desc textarea:hover {
    background-color: #eeeeee75;
}

.input-box-desc textarea:focus-visible {
    outline: 1px solid #6c63ff;
}

.input-box-desc label {
    font-size: 0.75rem;
    font-weight: 600;
    color: #000000c0;
}

.input-box-desc input::placeholder {
    color: #000000be;
}

/* ---- descrição css  ---- */

.input-box input {
    margin: 0.6rem 0;
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #0000001c;
    font-size: 0.8rem;
}

.input-box input:hover {
    background-color: #eeeeee75;
}

.input-box input:focus-visible {
    outline: 1px solid #6c63ff;
}

.input-box label {
    font-size: 0.75rem;
    font-weight: 600;
    color: #000000c0;
}

.input-box input::placeholder {
    color: #000000be;
}


.input-file-upload {
    display: flex;
    flex-direction: column;
    
}

.upload-btn {
    position: relative;
    overflow: hidden;
    display: inline-block;
    
}

.btn {
    width: 500px;
    border: 2px dashed rgb(130, 87, 230)!important;
    font-size: 19px;
    font-weight: 700;
    color: #ffffff;
    text-align: center;
    padding: 19px 40px;

}

.upload-btn input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}

.upload_img {
    display: inline-block;
    border: 3px solid rgb(130, 87, 230);
    width: 500px;
    height: 500px;
    border-radius: 10px;
    object-fit: cover;
    object-position: 50% 50%;
    vertical-align: middle;
    margin-top: 20px;
}

.save-button{
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.save-button button {
     width: 500px;
    height: 50px;
    /* width: auto; */
    margin-top: 2.5rem;
    border: none;
    background-color: #6c63ff;
    padding: 0.62rem;
    border-radius: 5px;
    cursor: pointer;
}

.save-button button:hover {
    background-color: #6b63fff1;
}

.save-button button a {
    text-decoration: none;
    font-size: 0.93rem;
    font-weight: 500;
    color: #fff;
}

@media screen and (max-width: 1330px) {
    .form-image {
        display: none;
    }
    .container {
        width: 50%;
    }
    .form {
        width: 100%;
    }
}

.container-img{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* justify-content: space-between; */
    padding: 1rem 0;
    padding-top: 1px;


}
.form-cont {
    width: 100%;
    display: inline-block;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #fafafa;
    padding: 3rem;
    padding-top: 1px;
}

fieldset{
    font-size: 25px;
    padding: 12px;
    color:#6F3Df4;
    border: 1px solid #6F3Df4;
   
}

fieldset-labal{
    font-weight: 100px;
}

#outline {
    stroke:#6b63fff1;
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: draw 5s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-timing-function: linear;
  }

select{
     width: 250px;
     height: 2.5em;
     border: solid 2px #6F3Df4;
     transition: all .5s ease-in-out;
     overflow: hidden;
     border-radius: 10px;

}

select-option{
    border-radius: 10px;
    background-color: #6b63ff28;
}

.input-box-ing{
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    margin-bottom: 1rem;
    transition: all .10s ;
   }


.input-box-ing input {
    margin: 0.6rem 0;
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #0000001c;
    font-size: 0.8rem;
    overflow: hidden;
}

.input-box-ing input:hover {
    background-color: #eeeeee75;
}

.input-box-ing input:focus-visible {
    outline: 1px solid #6c63ff;
}

.input-box-ing label {
    font-size: 0.75rem;
    font-weight: 600;
    color: #000000c0;
}

.input-box-ing input::placeholder {
    color: #000000be;
}

  #minicircles {
    stroke:#6b63fff1;
    fill:#6b63fff1;
    fill-opacity:0;
    stroke-dasharray: 300;
    stroke-dashoffset: 300;
    animation: draw 5s;
    animation-delay:3s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-timing-function: linear;
  }
  #tinycircles {
    stroke:#6b63fff1;
    fill:#6b63fff1;
    fill-opacity:0;
    stroke-width:0.46272236;
    stroke-dasharray: 200;
    stroke-dashoffset: 200;
    animation: draw 5s;
    animation-delay: 4s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-timing-function: linear;
  }
  #bigcircle {
    fill-opacity:1;
    stroke:#6b63fff1;
    stroke-width:2.87007833;
    stroke-dasharray: 1500;
    stroke-dashoffset: 1500;
    animation: draw 3s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-timing-function: linear;
  }
  #bigcircle1 {
    fill-opacity: 0;
    fill:#b6b9ba;
    animation: show 2s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-timing-function: linear;
  }
  #circle {
    fill:#ad5b259f;
    stroke:#6b63fff1;
    stroke-dasharray: 1500;
    stroke-dashoffset: 1500;
    animation: draw 3s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    stroke-width:2.44415021;
  }
  #orange {
    fill-opacity: 0;
    fill:#ad5b259f;
    animation: show 2s;
    animation-delay: 4s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-timing-function: linear;
  }
  #whitegrey {
    fill-opacity: 0;
    fill:#dee1e1;
    animation: show 2s;
    animation-delay: 6s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-timing-function: linear;
  }
  #darkgrey {
    fill-opacity: 0;
    fill:#96a2a6;
    animation: show 2s;
    animation-delay: 5s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-timing-function: linear;
  }
  #blue {
    fill-opacity: 0;
    fill:#85d5ea;
    animation: show 2s;
    animation-delay: 7s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-timing-function: linear;
  }
  #red {
    fill-opacity: 0;
    fill:#f33734;
    animation: show 2s;
    animation-delay: 7s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-timing-function: linear;
  }
  #headgrey {
    fill-opacity: 0;
    fill:#838d95;
    animation: show 2s;
    animation-delay: 5s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-timing-function: linear;
  }
  #eye {
    fill-opacity: 0;
    fill:#040608;
    animation: show 2s;
    animation-delay: 7s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-timing-function: linear;
  }
  #white1 {
    stroke-dasharray: 1500;
    stroke-dashoffset: 1500;
    animation: draw 3s;
    animation-delay: 7s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-timing-function: linear;
  }
  #white {
    fill-opacity: 5;
    fill:#ffffff;
    stroke:#ffffff;
    animation: show 2s;
    animation-delay: 7s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-timing-function: linear; 
  }
  @keyframes draw {
    to {
      stroke-dashoffset: 0;
       }
  }  
    
  @keyframes show {
     to {
      fill-opacity: 1;
      opacity: 1.2;
   }
  }

  

