<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./styles/style.css" rel="stylesheet">
    <link href="./styles/fonts.css" rel="stylesheet">
    <link href="./styles/media.css" rel="stylesheet">
    <title> Landing Page </title>
</head>

<body>
    <header>
        <div id="title">
            <h1> BKM </h1>
            <h1> EVENTOS </h1>
        </div>

        <ul>
            <a href="#">
                <li>Início</li>
            </a>
            <a href="#">
                <li>Eventos</li>
            </a>
            <a href="#">
                <li>Sobre Nós</li>
            </a>
            <a href="#">
                <li>Contato</li>
            </a>
            <a href="#" id="Cadastre-se-btn">
                <li>Já tem uma conta?</li>
            </a>
        </ul>
    </header>

    <main>
        <aside>
            <h2> <span> Divulgue seu evento</span> </h2>
            <h2> no BKM Eventos </h2>
            <p>
                Cadastre todos os dados do seu evento em nossa plataforma gratuitamente, nós ajudamos a gerenciar seus
                eventos de forma eficiente.

            </p>
            <form>
                <input type="submit" value="Crie agora seu evento!">
            </form>

        </aside>

        <article>
            <img src="./componentes/images/pngegg.png" alt="geek">

        </article>
    </main>

    <div class="slider">
        <div class="slides">
            <input type="radio" name="radio-btn" id="radio1">
            <input type="radio" name="radio-btn" id="radio2">
            <input type="radio" name="radio-btn" id="radio3">
            <input type="radio" name="radio-btn" id="radio4">

            <div class="slide first">
                <img src="" alt="">

            </div>
        </div>
    </div>

</body>

</html>